/*搜索样式*/
.searchResContainer{font-size:12px;}
.searchResContainer .searchTableContainer{height:180px;overflow-x:hidden;}
.searchResContainer .searchTableContainer .mscrollbar{height:180px;width:100%;}
.searchResContainer .searchTableContainer table {width:100%;}
.searchResContainer .searchTableContainer table tr.active{background-color:rgb(238, 245, 254);}
.searchResContainer .searchTableContainer table tr:hover{background-color:rgb(238, 245, 254);}
.searchResContainer .searchTableContainer table tr td{text-align:left;height:25px;padding-left:24px;cursor:pointer;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.searchResContainer .pageContainer{height:30px;}