.jrtx_page_first{
    background-color:#004191;
    border:1px solid #004191;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius :4px;
    height:20px;
    line-height:20px;
    padding-left:5px;
    padding-right:5px;
    font-family:Microsoft Yahei;
    font-size:14px;
    color:#ffffff;
    font-weight:normal;
    cursor:pointer;
}
.jrtx_page_numlabel_select{
    height:20px;
    line-height:20px;
    padding-left:5px;
    padding-right:5px;
    font-family:Microsoft Yahei;
    font-size:14px;
    color:#000000;
    font-weight:normal;
    cursor:pointer;
    border:1px solid #b5b5b5;
}
.jrtx_page_numlabel_noselect{
    height:20px;
    line-height:20px;
    padding-left:5px;
    padding-right:5px;
    font-family:Microsoft Yahei;
    font-size:14px;
    color:#000000;
    font-weight:normal;
    cursor:pointer;
    border:0px solid #b5b5b5;
}
.jrtx_page_last{
    background-color:#004191;
    border:1px solid #004191;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius :4px;
    height:20px;
    line-height:20px;
    padding-left:5px;
    padding-right:5px;
    font-family:Microsoft Yahei;
    font-size:14px;
    color:#ffffff;
    font-weight:normal;
    cursor:pointer;
}
.jrtx_page_pre{
    background-color:#004191;
    border:1px solid #004191;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius :4px;
    height:20px;
    line-height:20px;
    padding-left:5px;
    padding-right:5px;
    font-family:Microsoft Yahei;
    font-size:14px;
    color:#ffffff;
    font-weight:normal;
    cursor:pointer;
}
.jrtx_page_next{
    background-color:#004191;
    border:1px solid #004191;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius :4px;
    height:20px;
    line-height:20px;
    padding-left:5px;
    padding-right:5px;
    font-family:Microsoft Yahei;
    font-size:14px;
    color:#ffffff;
    font-weight:normal;
    cursor:pointer;
}
.jrtx_input_lb{
    border-style:none;
    text-align:left;
    width:100%;
    font-family:Microsoft Yahei;
    font-size:12px;
    font-weight:normal;
}