@import url('default.icon.css');
html,body{width:100%;height: 100%; min-width:1000px;overflow:hidden}
html * ,body *{font-family:'Microsoft YaHei';text-shadow:none;outline:none;}
html a:focus,body a:focus{outline:none !important}


button{outline:none !important;border:none !important;}

/*模态背景框*/
.ict_modal_backdrop{position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: #000; opacity: 0.5; }

/*内容不可选中*/
.disableSelect{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

/*面板*/
.menupanel{position: absolute; left: 15px; top: 140px; z-index: 1000;}
.mappanel{position: absolute;top:60px;left:0;right:0;bottom:0;margin:0;padding:0;}

/*头部导航栏*/
.navbar{min-height:60px;margin-bottom:0;border:none;border-radius:0;font-size:12px;font-weight:normal;}
.navbar{background:url('../../themes/images/frame/bg.jpg'); /* fallback color if gradients are not supported */ /* background-image: -webkit-linear-gradient(top, #244474 0%,#426394 100%);*/ /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */ /* background-image:    -moz-linear-gradient(top, #244474 0%,#426394 100%); *//* For Firefox (3.6 to 15) */ /* background-image:      -o-linear-gradient(top, #244474 0%,#426394 100%);*/ /* For old Opera (11.1 to 12.0) */ /*background-image:         linear-gradient(to bottom, #244474 0%,#244474 100%); /!* Standard syntax; must be last *!/*/ }

.navbar-header{margin-top: 3px;}
.navbar-header label{color:#fff;}

.navbar-left{margin-top:12px;position:absolute;left:330px;}
.navbar-left input.form-control {width:290px;height:35px;}
.navbar-left img{position: relative;left:-22px;cursor:pointer;}
.navbar-left select.searchType{ height:34px; border-radius:4px;padding:5px;}

.navbar-right{height:60px;}
.navbar-right label, 
.navbar-right a{color:#fff;cursor:pointer;}
.navbar-right select{ height:34px; border-radius:4px;padding:5px;}
.navbar-right > li{margin-left:20px;line-height:60px;min-width:100px;height:60px;text-align:center;cursor:pointer;}
.navbar-right > li.eventRemind:hover{background-color: rgba(15,104,225,0.5);}
.navbar-right > li.topmenubtn:hover{background-color: rgba(15,104,225,0.5);}
.navbar-right > li > a{display:inline !important;text-decoration:none !important;color:#fff !important;margin:0 !important;padding:0 !important;font-weight:bold;}

/*菜单栏--主菜单*/
.menupanel .menu_main_panel{background-color:#244474;border-radius: 0 6px 6px 0;cursor: pointer;}
.menupanel .menu_main_panel ul{list-style: none;padding:15px;}
.menupanel .menu_main_panel ul>li{padding:10px;margin-bottom: 10px;background-color:#23538c;}
.menupanel .menu_main_panel .menu_item.active{background-color:#2276c2;}
.menupanel .menu_main_panel .menu_item:hover{background-color:#2276c2;}

/*菜单栏--二级菜单*/
.menupanel .menu_sub_panel{position:absolute;top:0;left:78px;width:180px;max-width:400px;border-radius: 0 6px 6px 0;background-color:#244474;cursor:pointer;}
.menupanel .menu_sub_panel ul{list-style: none;padding:15px;color:white;}
.menupanel .menu_sub_panel >ul >li > label{cursor:pointer;}
.menupanel .menu_sub_panel ul>li{margin-bottom: 10px;}
.menupanel .menu_sub_panel .menu_item.active{background-color:#2276c2;}
.menupanel .menu_sub_panel .menu_item:hover{background-color:#2276c2;}

/*修改bootstrap默认样式*/
.dropdown-menu{z-index:1001 !important;}
.navbar-default .navbar-nav > .open > a{background-color:transparent !important;background-image:none !important;}

/*toppanel right*/
.userlogin_after{width: 159px;}
.userlogin_after>ul>li>a:hover{background-color:#0F68E6;color:#fff;background-image:none !important;} 
.userlogin_after>ul>li>a{text-align:center;}



/*全屏*/
/*#toppanel.ict_fullscreen_on {position:fixed;top:0;left:0;right:0;display: none;}*/

/*右键菜单*/
.ict_contextmenu_item_li{width:180px;height:30px;line-height:30px;padding:0 10px !important;}
.ict_contextmenu_item_li.hover{background-color:#0F69E4 !important;color:#fff !important;}
.ict_contextmenu_item_li > span{vertical-align:middle !important;}
.ict_contextmenu_item_li > span:first-child{color:#0F69E4;font-size:20px;}
.ict_contextmenu_item_li.hover > span:first-child{color:#fff;}
.ict_contextmenu_item_li  span.nametxt{padding-left:8px;}

/*其它*/
.msg{height:20px;color:#2276c2;}
.Wdate{height:30px !important;width:146px;} 
.btnDiv{text-align: center;}
.btnDiv button{width:140px;height:30px; background-color:#2276c2; font-family:Microsoft Yahei;font-size:14px;color:#fff;padding:0;margin-right:10px;outline:none;border:none;} 
.btnDiv button:hover{background-color:#095596;}
/*.text_vertical_align{  display: -moz-box;display: box; display: -webkit-box; display: -ms-flexbox; -webkit-box-align: center; -moz-box-align: center; box-align: center;}*/