.cdgladdship_labelfont{
    font-family:Microsoft Yahei;
    font-size:12px;
    color:#373737;
    font-weight:normal;
}
.cdgladdship_dialog_btn_ok_cancel{
    background-color:#004191;
    border:1px solid #004191;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius :4px;
    font-family:Microsoft Yahei;
    font-size:12px;
    color:#ffffff;
    font-weight:normal;
    text-align:center;
    vertical-align: middle;
    width:122px;
    height:33px;
    line-height:33px;
    cursor:pointer;
}
.cdgladdship_addfleet_a{
    background:url("../images/baoChuan/error.png") no-repeat;
    height:58px;
    line-height:58px;
    width:64px;
}