button.cdgl_tree_del { background:url("../images/baoChuan/DEL.png") no-repeat scroll 1px 1px transparent;}
button.cdgl_tree_edit { background:url("../images/baoChuan/edit.png") no-repeat scroll 1px 1px transparent;}
button.cdgl_tree_del:hover { background:url("../images/baoChuan/DEL-hover.png") no-repeat scroll 1px 1px transparent; }
button.cdgl_tree_edit:hover { background:url("../images/baoChuan/edit-hover.png") no-repeat scroll 1px 1px transparent; }
.cdgl_labelfont{
    font-family:Microsoft Yahei;
    font-size:12px;
    color:#373737;
    font-weight:normal;
}
.cdgl_labelfont_del{
    font-family:Microsoft Yahei;
    font-size:14px;
    color:#373737;
    font-weight:normal;
}
.cdgl_font_error{
    border-style:none;
    text-align:left;
    width:100%;
    font-family:Microsoft Yahei;
    font-size:12px;
    color:#2276c2;
    font-weight:normal;
}
.cdgl_input_sj{
    width:126px;
    height:25px;
    line-height: 25px;
    border:1px solid #b5b5b5;
}
.cdgl_img_btn_add{
    background:url("../images/baoChuan/cdgl_img_btn_back.png");
    height:25px;
    line-height:25px;
    width:58px;
    cursor:pointer;
    text-align:center;
}
.cdgl_img_btn_ok{
    background:url("../images/baoChuan/cdgl_img_btn_back.png");
    height:25px;
    line-height:25px;
    width:58px;
    cursor:pointer;
    text-align:center;
}
.cdgl_btn_search{
    background-color:#dfeefd;
    border:1px solid #b5b5b5;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius :4px;
    font-family:Microsoft Yahei;
    font-size:14px;
    color:#373737;
    font-weight:normal;
    text-align:center;
    vertical-align: middle;
    width:60px;
    height:25px;
    line-height:25px;
    cursor:pointer;
}
.cdgl_btn_search:hover{
    background-color:#dfeefd;
    border:solid 1px #b5b5b5;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius :4px;
    font-family:Microsoft Yahei;
    font-size:14px;
    color:#bccfe3;
    font-weight:normal;
    text-align:center;
    vertical-align: middle;
    width:60px;
    height:25px;
    line-height:25px;
    cursor:pointer;
}
.cdgl_dialog_btn_ok_cancel{
    background-color:#004191;
    border:1px solid #004191;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius :4px;
    font-family:Microsoft Yahei;
    font-size:12px;
    color:#ffffff;
    font-weight:normal;
    text-align:center;
    vertical-align: middle;
    width:122px;
    height:33px;
    line-height:33px;
    cursor:pointer;
}

.cdgl_page_first{
    background-color:#004191;
    border:1px solid #004191;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius :4px;
    height:20px;
    line-height:20px;
    padding-left:5px;
    padding-right:5px;
    font-family:Microsoft Yahei;
    font-size:14px;
    color:#ffffff;
    font-weight:normal;
    cursor:pointer;
}
.cdgl_page_numlabel_select{
    height:20px;
    line-height:20px;
    padding-left:5px;
    padding-right:5px;
    font-family:Microsoft Yahei;
    font-size:14px;
    color:#000000;
    font-weight:normal;
    cursor:pointer;
    border:1px solid #b5b5b5;
}
.cdgl_page_numlabel_noselect{
    height:20px;
    line-height:20px;
    padding-left:5px;
    padding-right:5px;
    font-family:Microsoft Yahei;
    font-size:14px;
    color:#000000;
    font-weight:normal;
    cursor:pointer;
    border:0px solid #b5b5b5;
}
.cdgl_page_last{
    background-color:#004191;
    border:1px solid #004191;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius :4px;
    height:20px;
    line-height:20px;
    padding-left:5px;
    padding-right:5px;
    font-family:Microsoft Yahei;
    font-size:14px;
    color:#ffffff;
    font-weight:normal;
    cursor:pointer;
}
.cdgl_page_pre{
    background-color:#004191;
    border:1px solid #004191;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius :4px;
    height:20px;
    line-height:20px;
    padding-left:5px;
    padding-right:5px;
    font-family:Microsoft Yahei;
    font-size:14px;
    color:#ffffff;
    font-weight:normal;
    cursor:pointer;
}
.cdgl_page_next{
    background-color:#004191;
    border:1px solid #004191;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius :4px;
    height:20px;
    line-height:20px;
    padding-left:5px;
    padding-right:5px;
    font-family:Microsoft Yahei;
    font-size:14px;
    color:#ffffff;
    font-weight:normal;
    cursor:pointer;
}