.productSubsContainer{position:relative;width:100%;height: 100%;margin: 0;padding:0;}
.productSubsContainer .productNav{position: relative;list-style: none;clear:both;border-left:1px solid silver;left:30px;top:20px;}
.productSubsContainer .productNav>li{position: relative;display: block;float: left;border:1px solid silver;border-left:none;}
.productSubsContainer .productNav>li>a{position: relative;display:block;text-decoration: none;padding:5px 10px;color: #000;background-color: #fff;}
.productSubsContainer .productNav>li.active>a{color: #fff; background-color: #244474;}

.productSubsContainer .listDiv{position: relative;left:10px;top:30px;width:100%;height:340px;overflow:hidden;padding:10px 20px;}
.productSubsContainer .listDiv>div{width:100%;height:100%;border-bottom:1px solid silver;}
.productSubsContainer .listDiv table{table-layout: auto;border-collapse: collapse;width:100%;}
.productSubsContainer .listDiv table th,
.productSubsContainer .listDiv table td{border:1px solid silver;text-align:center;}
.productSubsContainer .listDiv table>thead>tr>th{padding:10px 0;}
.productSubsContainer .listDiv table>tbody>tr>td{padding:15px 0;}

.productSubsContainer .listDiv table tr td button.locatBtn{margin:0; padding: 10px 0;border:none;width:30px; height:24px;background-color: #fff;background-image:url(../../themes/images/model/frame/locate.png); background-repeat: no-repeat;}
.productSubsContainer .listDiv table tr td button.subBtn{width:60px;height:24px;border:none;color:#fff;background-color:#2276C2;}
.productSubsContainer .listDiv table tr td button.subBtn.active{background-color:#587793;}
/*.productSubsContainer .listDiv table tr td button.subBtn.active1{background-color:#2A4E6F;}*/
.productSubsContainer .listDiv table tr td button.viewBtn{width:60px;height:24px;border:none;color:#fff;background-color:#2276C2;}