*{  margin: 0;padding:0;font-family: '微软雅黑','黑体';  }
html,body{height:100% }
body{  background-image: url('../images/model/userLogin/BG.png');  background-repeat: no-repeat;  background-position: bottom; }
.login{  width: 500px;  height: auto;  }
.login_logo{  margin: 110px 0 50px 0;  }
.login_input_div{  margin: 10px 0;  }
.login_btn_div{  margin-top: 60px;  height: 40px;font-size: 18px;  color: #fff;  letter-spacing:15px;  background-color: #188bff;  }
.login_error{  margin: 0;  height: 30px;  line-height: 30px;  font-size: 14px;  color: #0071bd;  text-align: left;  }