.submenu_wjanalysis {color:#fff;padding: 10px;}
.submenu_wjanalysis label{font-weight:normal !important;}
.submenu_wjanalysis >.submenu_wjanalysis_jtms{background-color:#23538C;padding:10px;}
.submenu_wjanalysis >.submenu_wjanalysis_jtms > ul{padding:10px;}
.submenu_wjanalysis >.submenu_wjanalysis_ycpg{background-color:#23538C;padding:10px;margin-top:10px;}
.submenu_wjanalysis >.submenu_wjanalysis_ycpg > ul{padding:10px;}
.submenu_wjanalysis  .submenu_li{cursor:pointer;background-color:#2064AB;text-align:center;line-height:25px;}
.submenu_wjanalysis  .submenu_li label{cursor:pointer;}
.submenu_wjanalysis  .submenu_li:not(.active):hover{background-color:#2276c2;}
.submenu_wjanalysis  .submenu_li.active{background-color:#2276c2;}
.submenu_wjanalysis  .submenu_li select{color:initial;border-radius:6px;width:90%;height:30px;}
.submenu_wjanalysis  .submenu_li > .time_ul{padding:0;}
.submenu_wjanalysis  .submenu_li > .time_ul label{font-size:normal;margin-bottom:5px;}
.submenu_wjanalysis  .submenu_li > .time_ul > li{text-align:left;padding-left: 10px;padding-bottom: 10px;}